<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>D3.1</display-name>
  <welcome-file-list>
    <welcome-file>ResponseFilterServlet</welcome-file>
  </welcome-file-list>
    <filter>
  	<filter-name>ResponseFilter</filter-name>
  	<filter-class>D3.ResponseFilter</filter-class>
  </filter>
  <filter-mapping>
 	<filter-name>ResponseFilter</filter-name>
 	<servlet-name>ResponseFilteredServlet</servlet-name>
 	<dispatcher>REQUEST</dispatcher>
 	<dispatcher>FORWARD</dispatcher>
 </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseFilteredServlet</display-name>
    <servlet-name>ResponseFilteredServlet</servlet-name>
    <servlet-class>D3.ResponseFilteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseFilteredServlet</servlet-name>
    <url-pattern>/ResponseFilteredServlet</url-pattern>
  </servlet-mapping>

</web-app>